In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import requests, json
from pprint import pprint

In [3]:
#base_url = 'https://fantasy.premierleague.com/api/element-summary/49481/'

base_url = 'https://fantasy.premierleague.com/api/'

r = requests.get(base_url+'bootstrap-static/').json()

pprint(r, indent=2, depth=1, compact=True)

{ 'chips': [...],
  'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_config': {...},
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 11494661}

In [11]:
pd.set_option('display.max_columns', None)

team = r['elements']

pprint(team[0])

AttributeError: 'dict' object has no attribute 'head'

In [10]:
pd.set_option('display.max_columns', None)

players = pd.json_normalize(r['elements'])

df = players[['id', 'first_name', 'second_name', 'minutes']].map()
display(df)

      id    first_name                second_name  minutes
0      1         Fábio            Ferreira Vieira        0
1      2       Gabriel          Fernando de Jesus      600
2      3       Gabriel       dos Santos Magalhães     2363
3      4           Kai                    Havertz     1853
4      5          Karl                       Hein        0
..   ...           ...                        ...      ...
796  720      Emmanuel                    Agbadou     1230
797  751  Vítor Manuel  de Oliveira Lopes Pereira        0
798  769        Nasser                      Djiga       20
799  770      Marshall                    Munetsi      968
800  784        Mateus                       Mané        1

[801 rows x 4 columns]